.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  .nav_container {
    position: relative;
    max-width: 1224px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    margin-left: auto;
    margin-right: auto;
    .logo {
      background: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .nav_links {
      display: flex;
      list-style: none;
      @media screen and (max-width: 800px) {
        display: none;
      }
      li {
        margin-left: 3rem;
        a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-size: 0.85rem;
          opacity: 0.6;
          transition: 0.3s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .social_icons {
      display: flex;
      @media screen and (max-width: 800px) {
        display: none;
      }
      div {
        margin-left: 1rem;
        svg {
          color: #fff;
          opacity: 0.6;
          cursor: pointer;
          margin-left: 1rem;
          transition: 0.3s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .menu {
      background: #fff;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      display: none;
      @media screen and (max-width: 800px) {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      svg {
        width: 70%;
        height: 70%;
      }
    }
    .closeMenu {
      background: #000;
      width: 4rem;
      height: 4rem;
      position: fixed;
      border-radius: 50%;
      right: 0;
      top: 0;
    }
    .menuX {
      color: #fff;
      position: fixed;
      top: 2rem;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      svg {
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
      li {
        list-style: none;
        margin-top: 1rem;
        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
          opacity: 0.6;
          transition: 0.3s;
          text-transform: uppercase;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
